.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.copyright, .push {
    height: 142px; /* .push must be the same height as .footer */
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.errorMessage
{
    display: none;
}

select::-ms-expand {
    display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 !important; 
  outline: 0 !important; 
  border-bottom: 1px solid #ced4da !important;
}

textarea {
  border: 0 !important; 
  outline: 0 !important; 
  border-bottom: 1px solid #ced4da !important;
}