@media screen
{
    #printSection
    {
        display: none;
    }
}

@media print
{
    body *
    {
        visibility:hidden;
    }
    #printSection, #printSection *
    {
        visibility:visible;
    }
    #printSection
    {
        position:absolute;
        left:0;
        top:0;
    }
}

body
{
    font-family: "Roboto", "Helvetica", sans-serif !important;
    /*font-family: Fira Code, "Roboto", "Helvetica", sans-serif !important;*/
    font-size: .9rem !important;
    height: unset;
    min-height: unset;
}

.nav
{
    margin-right: -50px !important;
}

.nav-tabs-vertical .nav.nav-tabs
{
    margin-right: 0px !important;
}

.content .logo a i
{
    color: #FFF !important;
}

.left-sidebar-1 .wrapper .content .sidebar-heading
{
    height: 77px !important;
}

.hide
{
    display: none !important;
}

@media (max-width: 543px)
{
    .sign-up, .sign-in, .forgot-password, .unlock-account
    {
        max-width: 400px;
    }
}

@media (min-width: 544px) and (max-width: 767px)
{
    .sign-up, .sign-in, .forgot-password, .unlock-account
    {
        width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .sign-up, .sign-in, .forgot-password, .unlock-account
    {
        width: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1199px)
{
    .sign-up, .sign-in, .forgot-password, .unlock-account
    {
        width: 500px;
    }
}

@media (min-width: 1200px)
{
    .sign-up, .sign-in, .forgot-password, .unlock-account
    {
        width: 500px;
    }
}

html:not(.loading) [data-layout="empty-view"]
{
    /*background: url(../images/bg/bg3.jpg) no-repeat center center fixed;*/
    /*background: linear-gradient(to right, #DD2C00, #FFD180);*/
    background-image: none;
    background: linear-gradient(-90deg, #FFD180, #DD2C00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.warning > .form-control, .warning.is-focused .form-control
{
    background-image: -webkit-linear-gradient(bottom, #FF6F00 2px, rgba(13, 71, 161, 0) 2px), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 1px);
    background-image: linear-gradient(to top, #FF6F00 2px, rgba(13, 71, 161, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px);
}

.sign-up-link
{
    display: flow-root !important;
}

.sign-in .sign-up-link a, .sign-up .sign-up-link a,
.forgot-password .sign-up-link a, .unlock-account .sign-up-link a
{
    color: #FF6F00 !important;
}

.float-right
{
    float: right !important;
}

.float-left
{
    float: left !important;
}

.form-group .errorMessage
{
    display: none;
}

.form-container
{
    display: block !important;
}

.sign-up, .sign-in, .forgot-password, .unlock-account
{
    max-width: 400px;
    position: relative;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    padding: 25px 40px 20px 40px;
}

.error-page, .coming-soon
{
    max-width: 800px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

.error-page .btn
{
    background-color: coral;
}

h3.header-text
{
    font-size: 18px !important;
    text-align: center !important;
    text-transform: uppercase !important;
}

h3.header-text span
{
    font-size: 14px;
    font-weight: 600;
}

.clear
{
    clear: both;
}

.unlock-account .img-circle
{
    margin: -10px auto -10px auto !important;
    height: 100px !important;
    width: 100px !important;
}

.bmd-form-group
{
    padding-top: 1.6rem !important;
}

.coming-soon .table .number, .coming-soon .table .unit
{
    color: #FF6F00;
}

.name-badge
{
    padding: 1px 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #FFA000;
    color: #FFF;
    display: inline-block;
    margin: 8px 5px 2px 185px;
    position: relative;
    top: -75px;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.me-badge
{
    padding: 0px 3px 1px 3px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #0D47A1;
    color: #FFF;
    margin: 5px -13px;
}

.hoverable, .name-badge, .me-badge
{
    transition: box-shadow 0.55s;
    box-shadow: 0;
}

.hoverable:hover, .name-badge:hover, .me-badge:hover
{
    transition: box-shadow 0.45s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo a i
{
    margin-right: 5px;
}

.logo a span
{
    margin-left: 5px;
    margin-right: 15px;
}

.jumbotron-2
{
    height: 160px;
}

.jumbotron-2 .jumbotron
{
    padding: 20px 0px;
    margin-left: 23px;
}

.jumbotron-2 .jumbotron .breadcrumb
{
    font-size: 1rem;
}

.profileImage
{
    z-index: 1;
    max-width: 40px;
    width: 40px;
    border: 2px solid #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.jumbotron-2 .jumbotron h1
{
    font-size: 1.2rem;
}

.nav-link i
{
    margin-right: 2px;
}

[data-navbar="warning"] .navbar-2
{
    margin-bottom: -13px;
}

.display-3 i
{
    margin-right: 7px;
    position: relative;
    top: 3px;
}

.maxw80
{
    max-width: 80px;
}

.maxw100
{
    max-width: 100px;
}

.maxw120
{
    max-width: 120px;
}

.maxw140
{
    max-width: 140px;
}

.maxw150
{
    max-width: 150px;
}

.maxw170
{
    max-width: 170px;
}

.maxw180
{
    max-width: 180px;
}

.maxw200
{
    max-width: 200px;
}

.maxw265
{
    max-width: 265px;
}

.maxw400
{
    max-width: 400px;
}

.maxw600
{
    max-width: 600px;
}

.maxw650
{
    max-width: 650px;
}

.maxw700
{
    max-width: 700px;
}

.overflow-text
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.overflow-text-s
{
    overflow: scroll;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button.current
{
    border: 1px solid #FF6F00;
    background-color: #FF6F00;
    color: #fff !important;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button.current:hover
{
    border: 1px solid #DD2C00;
    background-color: #DD2C00;
    color: #fff;
}

.dropdown-item a i
{
    margin-right: 5px;
}

.copyright
{
    font-size: 0.8rem !important;
    color: #9e9e9e;
}

.copyright a
{
    color: #54616B;
}

.copyright a:hover
{
    color: #3B8310;
}

[data-layout="empty-view"] .copyright
{
    color: #FFF;
}

.navbar-2 .navbar-left-links .dropdown-item,
.navbar-2 .navbar-left-links .dropdown-item a
{
    width: auto;
}

.error-page p.access-error
{
    text-shadow: none;
    margin-bottom: 0;
    font-size: 16px;
}

span.acount-access
{
    font-weight: 600;
}

.error-page h1
{
    margin-top: -40px;
}

.error-page .list-group-item-heading
{
    margin-top: 0;
    margin-bottom: -15px;
}

.error-page .list-group-item :first-child
{
    margin-right: unset;
}

.nav-tabs .nav-link.active
{
    color: rgba(0, 0, 0, 0.87);
    border-color: #FF6F00;
}

.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover
{
    border-color: #FF6F00 !important;
}

.nav-tabs-vertical .nav-tabs .nav-link.active
{
    border-color: #FF6F00 !important;
}

.pageHeader
{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.pageSubHeader
{
    font-size: 1rem;
    margin-bottom: 0;
}

.nav-tabs .nav-link, .nav-pills .nav-link
{
    padding: 0.5em 1em;
}

.details-header, .details-footer
{
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.details-footer span
{
    text-shadow: none;
}

.details-header2
{
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.modal-body > .overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-body .overlay
{
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
}

.modal-body .overlay > .fa
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #FF6F00;
    font-size: 30px;
}

/* Select2 */
.select2-container
{
    color: #FF6F00 !important;
    font-size: 12px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #FF6F00 !important;
    color: #FFF !important;
    border: 1px solid #FF811E !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    color: #FFF !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{
    background-color: #FF811E !important;
    color: white !important;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single
{
    margin-bottom: -15px !important;
    border: none !important;
    border-bottom: 1px solid #AAA !important;
    border-radius: unset !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field
{
    border: none !important;
    border-bottom: 1px solid #AAA !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered
{
    margin: 0 !important;
    padding: 0 !important;
}

.select2-container--open .select2-dropdown--below
{
    margin-top: 15px !important;
}

mark, .mark
{
    padding: 0.2em 0.4em;
    background-color: #FF6F00;
    color: #FFF;
}

.modal-content .modal-body
{
    max-height: 430px;
    border-bottom: 2px solid #ffa000;
    border-top: 2px solid #ffa000;
}

.card .card-block.with-badge i
{
    float: left !important;
    margin: 2px 20px 10px 0;
    font-size: 40px !important;
}

.card-block-footer
{
    padding: 7px !important;
    border-top: 2px solid #ffa000;
}

.card .card-block
{
    padding: .6rem .6rem .6rem !important;
}

.popover
{
    font-size: 0.7rem !important;
}

.tab-pane .card
{
    margin-left: -10px;
}

.process-vehicle-tabs
{
    min-height: 500px;
}

.tab-content, .process-vehicle-tabs
{
    margin-bottom: 20px;
}

.text-head
{
    font-size: 16px !important;
    text-align: center;
}

#registerLicenseForm.sign-in,
#changeOfOwnership.sign-in
{
    margin-top: 40px !important;
    margin-bottom: 10px !important;
    max-width: 380px !important;
    padding: 25px !important;
}

#registerLicenseForm.sign-in .checkbox,
#changeOfOwnership.sign-in .checkbox
{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.invoice
{
    margin: unset !important;
}

.card .container-fluid.pricing-board
{
    padding: 20px !important;
}

.typing
{
    color: #FFF !important;
    background-color: #FFA000 !important;
    padding: 3px;
    /*font-family: monospace;*/
    animation: blinker 2s linear infinite;
}

@keyframes blinker
{  
    50% { opacity: 0; }
}

.fs-10
{
    font-size: 10px;
}

.fs-12
{
    font-size: 12px;
}

.table th, .table td
{
    padding: 0.25rem !important;
}

.vehicleLicense
{
    margin-top: 35px !important;
}

.vehicleLicense p
{
    margin: 0 !important;
    font-size: .75rem !important;
}

.vehicleLicense p span
{
    font-weight: 600 !important;
}

.vehicleLicense hr
{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.82);
}

.vehicleLicense .license-header
{
    font-size: 14px !important;
    font-weight: 500;
}

.outer-license-fees
{
    width: 100%;
    margin: 15px 0;
}

.inner-license-fees
{
    margin: 0 auto;
    display: table;
}

.inner-license-fees p
{
    padding: 5px 20px !important;
    border: 1px solid rgba(0, 0, 0, 0.82);
    float: left;
}

.modal-dialog .modal-header .modal-title
{
    text-align: center !important;
    text-transform: uppercase !important;
}

.modal-dialog .modal-header .modal-title i
{
    margin-right: 10px !important;
}

.row.vehiclesContent
{
    height: 350px !important;
    overflow: scroll !important;
}

.vehiclesContent hr
{
    margin-top: -0.5rem !important;
    margin-bottom: 10px !important; 
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.vehiclesContent .card-block-footer
{
    border-top: 1px solid #FFA000 !important;
    padding: 5px !important;
}

.vehiclesContent dl.row
{
    margin-left: unset !important; 
    margin-right: unset !important;
    margin-bottom: 4px !important;
}

.vehiclesContent .card
{
    font-size: .75rem !important;
    font-weight: normal !important;
}

#vehiclesOwned .details-header,
#vehiclesOwned .details-footer
{
    font-size: 1.1rem !important;
    margin-bottom: 15px !important;
    margin-top: -10px !important;
}

.checkbox label
{
    position: relative !important;
}

img[alt=""], img:not([alt])
{
    border: 5px dashed #C00;
}

.filter-text
{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    color: black !important;
}

.switch-inline .switch
{
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.card .card-block.with-icon i
{
    margin: 10px 10px 10px 5px !important;
}

.card .card-block .card-title-head
{
    margin-top: 6px !important;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}

.card .card-img, .card .card-img-top
{
    width: 380px !important;
    height: 200px !important;
}

.card-block .btn-text
{
    font-size: .76rem !important;
}

.card-block .btn
{
    padding: 0.3rem .4rem !important;
}

[data-layout="top-navigation-1"] .main .page-on-top
{
    padding: 40px 40px 0 40px !important;
}

.nav-tabs-vertical .tab-content
{
    padding: 0 20px 20px 15px !important;
}

.nav-tabs-vertical .tab-content .row
{
    font-size: .85rem !important;
}

form .tab-content
{
     margin-bottom: unset; 
}

.popover-title
{
    font-size: .85rem !important;
}

.popover-title .tag
{
    font-size: 0.65rem !important;
}

.modal-dialog .modal-header .modal-title
{
    font-size: .8rem;
}

.modal.modal-warning .modal-header
{
    padding: 10px;
}

#background
{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:50%; 
    min-width:50%;
    color:yellow;
}

#bg-content
{
    position:absolute;
    z-index:1;
}

#bg-text
{
    font-size: 55px;
    font-weight: 300;
    color: #BBB1B1;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    margin-top: 150px;
    margin-left: 280px;
}

.transactions, .transaction-summary-content, .owners-vehicles
{
    height: 400px;
    background: #F3F1F1;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.transactions::-webkit-scrollbar, .transaction-summary-content::-webkit-scrollbar,
.owners-vehicles::-webkit-scrollbar
{
    background: #f3f1f1;
    width: 10px;
}

.transactions::-webkit-scrollbar-track, .transaction-summary-content::-webkit-scrollbar-track,
.owners-vehicles::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.transactions::-webkit-scrollbar-thumb, .transaction-summary-content::-webkit-scrollbar-thumb
.owners-vehicles::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.owners-vehicles
{
    height: 420px !important;
}

.transaction-summary-content
{
    margin-top: 20px !important;
    height: 600px !important;
}

.modal-content .modal-body#vehicleLicense
{
    /*height: 430px !important;*/
    min-height: 500px !important;
}

.black-color
{
    color: #171515 !important;
}

.reportDateRange
{
    margin-top: -36px;
    margin-left: 20px;
}

.reportDateRange input, .reportDateRange select
{
    width: 200px !important;
    margin-right: 10px;
}

.navbar-2 .navbar-left-links .nav-item .nav-link
{
    padding-left: unset !important; 
    padding-right: unset !important;
    margin-right: -5px !important;
}

#vehicleLicense
{
    font-size: .75rem !important;
}

.mg-t20
{
    margin-top: 20px !important;
}

.mg-t40
{
    margin-top: 40px !important;
}

.mg-b14
{
    margin-bottom: 14px !important;
}

.mmg-t35
{
    margin-top: -35px !important;
}

.summary-dates button
{
    margin-right: 3px !important;
    padding: 0.3rem 0.4rem !important;
}

.summary-dates button i {
    margin-right: 2px !important;
}

.summary-dates .btn.btn-sm
{
    font-size: 0.7125rem !important;
}

.reportSummary #reportSummaryForm
{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    max-width: 380px !important;
    padding: 25px !important;
}

.reportSummary .text-head, .transactionSummary .text-head
{
    margin-top: -15px !important;
}

#transactionSummary p
{
    margin-bottom: .4rem !important;
}

.bodr
{
    border-right: 2px dotted #e08a8a;
}

.text-head-content
{
    background-color: #ffa000 !important;
    color: #ffffff !important;
    padding: 5px !important;
}

.ticket-sidebar p.header
{
    margin-bottom: -0.15rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ticket-sidebar .list-group-item
{
    padding: 10px;
}

.ticket-sidebar .list-group-item :first-child
{
    margin-right: 10px;
}

.ticket-sidebar ul.list-group a
{
    margin-right: -45px;
}

.empty-tickets
{
    margin-left: 10px;
    font-weight: 500;
    line-height: 18px;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.52);
}

.searchDatabase
{
    margin-top: -40px;
}

.searchDatabase #registerLicenseForm.sign-in,
.searchDatabase #changeOfOwnership.sign-in
{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.search-database-transactions
{
    min-height: 300px !important;
    margin-bottom: 30px !important;
}

.search-result-card .bmd-btn-fab
{
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
    z-index: 2;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.search-result-card .btn.bmd-btn-fab
{
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.26);
}

.search-result-card .dropdown-menu.dropdown-menu-right
{
    margin-top: 25px;
    margin-right: 10px;
    top: 0;
    right: 0;
    left: auto;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.search-result-card .dropdown-menu .dropdown-item
{
    position: relative;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 7rem;
    max-width: 17.5rem;
    min-height: 2rem;
    padding: 0.4rem .7rem;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.search-result-card .material-icons
{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: 7px;
}

.tag.tag-user-prc
{
    background-color: #FF6F00;
    color: #fff;
    border: none;
}

.tag.tag-user-da
{
    background-color: #00E676;
    color: #fff;
    border: none;
}

.tag.tag-user-sm
{
    background-color: #C6FF00;
    color: #fff;
    border: none;
}

.tag.tag-user-itp
{
    background-color: #18FFFF;
    color: #fff;
    border: none;
}

.tag.tag-user-slo
{
    background-color: #6200EA;
    color: #fff;
    border: none;
}

.tag.tag-user-gm
{
    background-color: #EA80FC;
    color: #fff;
    border: none;
}

.tag.tag-user-ad
{
    background-color: #00695C;
    color: #fff;
    border: none;
}

.tag.tag-user-rt
{
    background-color: #FF3D00;
    color: #fff;
    border: none;
}

.left-sidebar-1 .wrapper .content .left-sidebar-section ul li .btn-flat:not(.collapsed) .fa
{
    -webkit-transform: none;
    transform: none;
}

.left-sidebar-1 .wrapper .content .left-sidebar-section ul li .btn-flat .title
{
    text-transform: none;
    font-size: 0.7rem;
}

.owners-vehicles .text-head, .found-result-text-head
{
    font-size: 17px !important;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.owners-vehicles .search-result-card
{
    margin: 10px;
}

.change-ownership-btn
{
    margin-top: -20px;
    border-radius: 0 !important;
}

.f12
{
    font-size: 12px;
}

.log-link a
{
    color: #E80707;
}

.log-link a:hover
{
    color: #E48E8E;
}

.form-transaction .form-group
{
    margin-right: 10px;
}

.message-content
{
    margin: 5px 0px;
}

.panel
{
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading
{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body
{
    padding: 10px;
}

.panel-default
{
    border-color: #DDD;
}

.panel-default > .panel-heading
{
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
}

.panel-warning
{
    border-color: #FF9F00;
}

.panel-warning > .panel-heading
{
    color: #333;
    background-color: #ff9f00;
    border-color: #f89b00;
}